<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @farm.animal_id %>
</p>

<p>
  <strong>Income:</strong>
  <%= @farm.income_id %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @farm.expense_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @farm.weather_id %>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
