<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- LAYERS -->
  <div class="field">
    <%= f.label :chickenltbrownlayer %><br>
    <%= f.number_field :chickenltbrownlayer %>
  </div>
  <div class="field">
    <%= f.label :chickendrkbrnlayer %><br>
    <%= f.number_field :chickendrkbrnlayer %>
  </div>
  <div class="field">
    <%= f.label :chickenwhitelayer %><br>
    <%= f.number_field :chickenwhitelayer %>
  </div>
  <div class="field">
    <%= f.label :chickenblugrnlayer %><br>
    <%= f.number_field :chickenblugrnlayer %>
  </div>
  <div class="field">
    <%= f.label :chickenbantamlayer %><br>
    <%= f.number_field :chickenbantamlayer %>
  </div>
  <div class="field">
    <%= f.label :duck %><br>
    <%= f.number_field :duck %>
  </div>
  <div class="field">
    <%= f.label :goose %><br>
    <%= f.number_field :goose %>
  </div>
  <div class="field">
    <%= f.label :turkey %><br>
    <%= f.number_field :turkey %>
  </div>
  <div class="field">
    <%= f.label :guinea %><br>
    <%= f.number_field :guinea %>
  </div>
  <div class="field">
    <%= f.label :quail %><br>
    <%= f.number_field :quail %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
