<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- LAYERS -->
  <div class="field">
    <%= f.label :chickenltbrownlayer %><br>
    <%= f.number_field :chickenltbrownlayer, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :chickendrkbrnlayer %><br>
    <%= f.number_field :chickendrkbrnlayer, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :chickenwhitelayer %><br>
    <%= f.number_field :chickenwhitelayer, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :chickenblugrnlayer %><br>
    <%= f.number_field :chickenblugrnlayer, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :chickenbantamlayer %><br>
    <%= f.number_field :chickenbantamlayer, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :duck %><br>
    <%= f.number_field :duck, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :goose %><br>
    <%= f.number_field :goose, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :turkey %><br>
    <%= f.number_field :turkey, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :guinea %><br>
    <%= f.number_field :guinea, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :quail %><br>
    <%= f.number_field :quail, min: 0 %>
  </div>

  <!-- EGGS -->
  <div class="field">
    <%= f.label :chickenltbrownegg %><br>
    <%= f.number_field :chickenltbrownegg %>
  </div>
  <div class="field">
    <%= f.label :chickendrkbrnegg %><br>
    <%= f.number_field :chickendrkbrnegg %>
  </div>
  <div class="field">
    <%= f.label :chickenwhiteegg %><br>
    <%= f.number_field :chickenwhiteegg %>
  </div>
  <div class="field">
    <%= f.label :chickenblugrnegg %><br>
    <%= f.number_field :chickenblugrnegg %>
  </div>
  <div class="field">
    <%= f.label :chickenbantamegg %><br>
    <%= f.number_field :chickenbantamegg %>
  </div>
  <div class="field">
    <%= f.label :duckegg %><br>
    <%= f.number_field :duckegg %>
  </div>
  <div class="field">
    <%= f.label :gooseegg %><br>
    <%= f.number_field :gooseegg %>
  </div>
  <div class="field">
    <%= f.label :turkeyegg %><br>
    <%= f.number_field :turkeyegg %>
  </div>
  <div class="field">
    <%= f.label :guineaegg %><br>
    <%= f.number_field :guineaegg %>
  </div>
  <div class="field">
    <%= f.label :quailegg %><br>
    <%= f.number_field :quailegg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
