<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Chicken</th>
      <th>Duck</th>
      <th>Goose</th>
      <th>Turkey</th>
      <th>Guinea</th>
      <th>Quail</th>
      <th>Brown</th>
      <th>White</th>
      <th>Blue</th>
      <th>Drkbrn</th>
      <th>Speckled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.chicken %></td>
        <td><%= inventory.duck %></td>
        <td><%= inventory.goose %></td>
        <td><%= inventory.turkey %></td>
        <td><%= inventory.guinea %></td>
        <td><%= inventory.quail %></td>
        <td><%= inventory.brown %></td>
        <td><%= inventory.white %></td>
        <td><%= inventory.blue %></td>
        <td><%= inventory.drkbrn %></td>
        <td><%= inventory.speckled %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
