<p id="notice"><%= notice %></p>

<p>
  <strong>Chicken:</strong>
  <%= @inventory.chicken %>
</p>

<p>
  <strong>Duck:</strong>
  <%= @inventory.duck %>
</p>

<p>
  <strong>Goose:</strong>
  <%= @inventory.goose %>
</p>

<p>
  <strong>Turkey:</strong>
  <%= @inventory.turkey %>
</p>

<p>
  <strong>Guinea:</strong>
  <%= @inventory.guinea %>
</p>

<p>
  <strong>Quail:</strong>
  <%= @inventory.quail %>
</p>

<p>
  <strong>Brown:</strong>
  <%= @inventory.brown %>
</p>

<p>
  <strong>White:</strong>
  <%= @inventory.white %>
</p>

<p>
  <strong>Blue:</strong>
  <%= @inventory.blue %>
</p>

<p>
  <strong>Drkbrn:</strong>
  <%= @inventory.drkbrn %>
</p>

<p>
  <strong>Speckled:</strong>
  <%= @inventory.speckled %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
