<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @breed.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @breed.name %>
</p>

<p>
  <strong>Egg:</strong>
  <%= @breed.egg_id %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @breed.Animal %>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
