
<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 orange z-depth-1">
        <span class="whiteit-title">ENTER TODAY'S EGG COUNT</span>
      </div>
    </div>
  </div>

  <div class="container">
  <br>
  <br>
    <div class="row">

    <!-- SPACER COLUMN -->
      <span class="make-invisible col s3">.</span>

      <!-- EGG ENTRY PARTIAL -->
      <div class="col s6">
        <%= render(:partial => "inventories/form_eggs") %>
      </div>

    </div>
    <br>
  </div>
</div>
<br>
<br>

<!-- LATEST EGG COUNT -->
  <div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 orange z-depth-1">
          <span class="whiteit-title">VIEW/ADJUST LATEST EGG COUNT</span>
        </div>
      </div>
    </div>
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Egg Variety</th>
                <th>Quantity</th>
                <th>Plus</th>
                <th>Less</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Chicken Eggs: Light Brown</td>
                <td><%= @egginventory.last.chickenltbrownegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "chickenltbrownegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "chickenltbrownegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Chicken Eggs: Dark Brown</td>
                <td><%= @egginventory.last.chickendrkbrnegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "chickendrkbrnegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "chickendrkbrnegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Chicken Eggs: White</td>
                <td><%= @egginventory.last.chickenwhiteegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "chickenwhiteegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "chickenwhiteegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Chicken Eggs: Blu/Grn</td>
                <td><%= @egginventory.last.chickenblugrnegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "chickenblugrnegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "chickenblugrnegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Chicken Eggs: Bantam</td>
                <td><%= @egginventory.last.chickenbantamegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "chickenbantamegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "chickenbantamegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Duck Eggs</td>
                <td><%= @egginventory.last.duckegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "duckegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "duckegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Goose Eggs</td>
                <td><%= @egginventory.last.gooseegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "gooseegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "gooseegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Turkey Eggs</td>
                <td><%= @egginventory.last.turkeyegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "turkeyegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "turkeyegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Guinea Hen Eggs</td>
                <td><%= @egginventory.last.guineaegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "guineaegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "guineaegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              <tr>
                <td><%= @eggtimer.last.created_at.strftime("%D") %></td>
                <td>Quail Eggs</td>
                <td><%= @egginventory.last.quailegg %></td>
                <td>
                  <%= button_to "+1", incrementegg_path({id: @egginventory.last.id, eggtype: "quailegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementegg_path({id: @egginventory.last.id, eggtype: "quailegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>

              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>

