
<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 orange z-depth-1">
        <span class="whiteit-title">Let's Count Some Eggs!</span>
      </div>
    </div>
  </div>

  <div class="container">
  <br>
  <br>
    <div class="row">

    <!-- SPACER COLUMN -->
      <div class="col s3"><span class="make-invisible">.</span></div>

      <!-- ENTRY PARTIAL -->
      <div class="col s6">
        <%= render(:partial => "inventories/form_eggs") %>
      </div>

    </div>
    <br>
  </div>
</div>
<br>
<br>

<!-- EGG INVENTORY -->
  <div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 orange z-depth-1">
          <span class="whiteit-title">Eggs Currently In Inventory</span>
        </div>
      </div>
    </div>
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Egg Variety</th>
                <th>Quantity</th>
                <th>Plus</th>
                <th>Less</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @eggtimer.last.created_at %></td>
                <td>Chicken Eggs: Light Brown</td>
                <td><%= @egginventory.last.chickenltbrownegg %></td>
                <td>
                  <%= button_to "+1", increment_path({id: @egginventory.last.id, eggtype: "chickenltbrownegg" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", increment_path({id: @egginventory.last.id, eggtype: "chickenltbrownegg" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Delete", "eggs/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>

