<p id="notice"><%= notice %></p>

<h1>Listing Eggs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Color</th>
      <th>Price</th>
      <th>Animal</th>
      <th>Income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr>
        <td><%= egg.id %></td>
        <td><%= egg.color_id %></td>
        <td><%= egg.price %></td>
        <td><%= egg.Animal %></td>
        <td><%= egg.Income %></td>
        <td><%= link_to 'Show', egg %></td>
        <td><%= link_to 'Edit', edit_egg_path(egg) %></td>
        <td><%= link_to 'Destroy', egg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Egg', new_egg_path %>
