<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @egg.id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @egg.color_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @egg.price %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @egg.Animal %>
</p>

<p>
  <strong>Income:</strong>
  <%= @egg.Income %>
</p>

<%= link_to 'Edit', edit_egg_path(@egg) %> |
<%= link_to 'Back', eggs_path %>
