<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 light-blue z-depth-1">
        <span class="whiteit-title">Enter Income</span>
      </div>
    </div>
  </div>

  <!-- laid by column -->
    <div class="container">
      <div class="row">
        <div class="make-invisible col s2">.</div>
          <div class="col s5">
            <span class="blackit-sub">Laid By</span>
              <form action="1">
              <p>
                <input name="group1" type="radio" id="chicken" />
                <label for="chicken">Chicken</label>
              </p>
              <p>
                <input name="group1" type="radio" id="duck" />
                <label for="duck">Duck</label>
              </p>
              <p>
                <input name="group1" type="radio" id="goose" />
                <label for="goose">Goose</label>
              </p>
              <p>
                <input name="group1" type="radio" id="turkey" />
                <label for="turkey">Turkey</label>
              </p>
              <p>
                <input name="group1" type="radio" id="guinea" />
                <label for="guinea">Guinea Hen</label>
              </p>
      </div>

    <!-- egg color column -->
    <div class="col s5">
    <span class="blackit-sub">Egg Color</span>
        <p>
          <input name="color" type="radio" id="brown" />
          <label for="brown">Brown</label>
        </p>
        <p>
          <input name="color" type="radio" id="white" />
          <label for="white">White</label>
        </p>
        <p>
          <input name="color" type="radio" id="blue" />
          <label for="blue">Blue</label>
        </p>
        <p>
          <input name="color" type="radio" id="dark_brown" />
          <label for="dark_brown">Dark Brown</label>
        </p>
        <p>
          <input name="color" type="radio" id="speckled" />
          <label for="speckled">Speckled</label>
        </p>
    </div>
  </div>

    <div class="row">

    <!-- column adjust row -->
    <div class="col s2">.</div>

    <!-- egg quantity -->
    <div class="input-field col s4">
      <i class="material-icons prefix"><%= image_tag 'Two_Eggs_24.png' %></i>
        <input id="quantity" type="number" class="validate">
        <label for="quantity">Egg Quantity</label>
    </div>

    <!-- sale amount -->
    <div class="input-field col s4">
      <i class="material-icons prefix"><%= image_tag 'Improve_incomes_24.png' %></i>
        <input id="incomes" type="number" class="validate">
          <label for="incomes">Sale Amount</label>
        </div>
      </div>
    </div>

    <!-- submit button -->
      <div class="row">
        <div class="col s5">.</div>
          <div class="input-field col s3">
            <%= submit_tag("SUBMIT") %>
          </div>
        </div>
      </form>

    <br>
    <br>

  </div>
  </div>
</div>
</div>

<br>
<br>

  <!-- past incomes table -->
<div class="container white z-depth-1">
<div class="center-align">
  <div class="row">
  <div class="col s12 light-blue z-depth-1">
    <h4><span class="bolder"><span class="whiteit">Past Income Transactions</span></span></h4>
  </div>
  </div>
<div class="container">
  <table class="bordered hoverable responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Laid By</th>
        <th>Egg Color</th>
        <th>Number Sold</th>
        <th>Income Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.created_at %></td>
          <td><%= animal.name %></td>
          <td><%= eggs.color_id %></td>
          <td><%= income.quantity_sold %></td>
          <td><%= income.amount %></td>
          <td><%= link_to 'Edit', edit_income_path(income) %></td>
          <td><%= link_to 'Remove', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<br>
<br>

