<br>

<div class="container white z-depth-1">
<div class="center-align">

  <div class="row">
  <div class="col s12 brown z-depth-1">
  <h4>
  <span class="bolder">
  <span class="greenit">
  Animals on the Farm
  </span>
  </span>
  </h4>
  </div>
  </div>

    <div class="row">
    <div class="col s12">
    <h6>Current Flock Types and Counts</h6>

<div class="container">

  <table class="bordered hoverable responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Egg</th>
      </tr>
    </thead>

    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.id %></td>
          <td><%= animal.name %></td>
          <td><%= animal.breed_id %></td>
          <td><%= animal.egg_id %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Remove', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <%= link_to 'New Animal', new_animal_path %>
    </div>
    </div>
    </div>
</div>

<br>
<br>
