<br>
<div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 brown z-depth-1">
          <span class="whiteit-title">FLOCKS CURRENTLY ON FARM</span>
        </div>
      </div>
    </div>
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Layer Variety</th>
                <th>Quantity</th>
                <th>Plus</th>
                <th>Less</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>07/23/15</td>
                <td>Chickens: Lt Brn Eggs</td>
                <td><%= @animalinventory.last.chickenltbrownlayer %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenltbrownlayer" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenltbrownlayer" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Chickens: Dk Brn Eggs</td>
                <td><%= @animalinventory.last.chickendrkbrnlayer %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "chickendrkbrnlayer" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "chickendrkbrnlayer" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Chickens: White Eggs</td>
                <td><%= @animalinventory.last.chickenwhitelayer %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenwhitelayer" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenwhitelayer" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Chickens: Blu/Grn Eggs</td>
                <td><%= @animalinventory.last.chickenblugrnlayer %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenblugrnlayer" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenblugrnlayer" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Chickens: Bantam</td>
                <td><%= @animalinventory.last.chickenbantamlayer %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenbantamlayer" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "chickenbantamlayer" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Ducks</td>
                <td><%= @animalinventory.last.duck %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "Duck" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "Duck" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Geese</td>
                <td><%= @animalinventory.last.goose %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "goose" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "goose" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Turkeys</td>
                <td><%= @animalinventory.last.turkey %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "turkey" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "turkey" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Guinea Hens</td>
                <td><%= @animalinventory.last.guinea %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "guinea" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "guinea" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
               <tr>
                <td>07/23/15</td>
                <td>Quail</td>
                <td><%= @animalinventory.last.quail %></td>
                <td>
                  <%= button_to "+1", incrementanimal_path({id: @animalinventory.last.id, animaltype: "quail" }), :class => 'willbtn-increment' %>
                </td>
                <td>
                  <%= button_to "-1", decrementanimal_path({id: @animalinventory.last.id, animaltype: "quail" }), :class => 'willbtn-decrement' %>
                </td>
                <td>
                  <%= button_to "Remove", "animals/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
