<br>
  <div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 brown z-depth-1">
          <span class="whiteit-title">Animals on the Farm</span>
        </div>
      </div>
      <div class="row">
      <br>
        <div class="col s12">
          <span class="blackit-sub">Current Flock Types and Counts</span>
            <table class="bordered responsive">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Breed</th>
                  <th>Egg Color</th>
                  <th>Quantity</th>
                  <th>Add</th>
                  <th>Subtract</th>
                  <th>Remove Flock</th>
                </tr>
              </thead>
              <tbody>
                <% @animals.each do |animal| %>
                  <tr>
                    <td><%= animal.id %></td>
                    <td><%= animal.name %></td>
                    <td><%= animal.breed %></td>
                    <td><%= animal.breed %></td>
                    <td><%= Animal.where(name: animal.name).count %></td>
                    <td><button class="btn light-green">
                        <%= link_to '+1', edit_animal_path(animal) %></button></td>
                    <td><button class="btn orange darken-2"><%= link_to '-1', edit_animal_path(animal) %></button></td>
                    <td><button class="btn red"><%= link_to 'Remove Flock', animal, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <br>
