<%= form_for(@weather) do |f| %>
  <% if @weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
      <% @weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :high_temp %><br>
    <%= f.number_field :high_temp %>
  </div>
  <div class="field">
    <%= f.label :low_temp %><br>
    <%= f.number_field :low_temp %>
  </div>
  <div class="field">
    <%= f.label :wind_speed %><br>
    <%= f.number_field :wind_speed %>
  </div>
  <div class="field">
    <%= f.label :precipitation %><br>
    <%= f.number_field :precipitation %>
  </div>
  <div class="field">
    <%= f.label :sunrise %><br>
    <%= f.number_field :sunrise %>
  </div>
  <div class="field">
    <%= f.label :sunset %><br>
    <%= f.number_field :sunset %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :Location_id %><br>
    <%= f.text_field :Location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
