<p id="notice"><%= notice %></p>

<h1>Listing Weathers</h1>

<table>
  <thead>
    <tr>
      <th>High temp</th>
      <th>Low temp</th>
      <th>Wind speed</th>
      <th>Precipitation</th>
      <th>Sunrise</th>
      <th>Sunset</th>
      <th>Location</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.high_temp %></td>
        <td><%= weather.low_temp %></td>
        <td><%= weather.wind_speed %></td>
        <td><%= weather.precipitation %></td>
        <td><%= weather.sunrise %></td>
        <td><%= weather.sunset %></td>
        <td><%= weather.location_id %></td>
        <td><%= weather.Location %></td>
        <td><%= link_to 'Show', weather %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather', new_weather_path %>
