<p id="notice"><%= notice %></p>

<p>
  <strong>High temp:</strong>
  <%= @weather.high_temp %>
</p>

<p>
  <strong>Low temp:</strong>
  <%= @weather.low_temp %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @weather.wind_speed %>
</p>

<p>
  <strong>Precipitation:</strong>
  <%= @weather.precipitation %>
</p>

<p>
  <strong>Sunrise:</strong>
  <%= @weather.sunrise %>
</p>

<p>
  <strong>Sunset:</strong>
  <%= @weather.sunset %>
</p>

<p>
  <strong>Location:</strong>
  <%= @weather.location_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @weather.Location %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
