<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @location.id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @location.zipcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @location.weather_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
