<nav>
  <div class="nav-wrapper col s12 light-green">
    <div class="row"><a href="/farms.html">
      <span class="nudgeit"><%= image_tag 'Hand_holding_leaves_32' %></span>
        <span class="bigger-bolder">FARM HAND</span></a>
          <ul class="right hide-on-sm-and-down">
          <li><a href="/farms.html">
              <i class="material-icons"><%= image_tag 'home_icon.png' %></i></a>
          </li>
          <li><a href="/eggs">
              <i class="material-icons"><%= image_tag 'eggs_icon.png' %></i></a>
          </li>
          <li><a href="/animals">
              <i class="material-icons"><%= image_tag 'inventory_icon.png' %></i></a>
          </li>
          <li><a href="/incomes">
              <i class="material-icons"><%= image_tag 'income_icon.png' %></i></a>
          </li>
          <li><a href="/expenses">
              <i class="material-icons"><%= image_tag 'expense_icon.png' %></i></a>
          </li>
          <li>
              <a href="/trends">
              <i class="material-icons"><%= image_tag 'trends_icon.png' %></i></a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
