
<nav>
  <div class="nav-wrapper">
    <a href="/farms.html" class="brand-logo"><%= image_tag 'Hand_holding_leaves_32.png' %>
        <span class="bigger-bolder">FARM HAND</span></a>
          <a href="/farms.html" class="button-collapse">
            <i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/farms.html"><i class="material-icons"><%= image_tag 'home_icon.png' %></i></a></li>
                <li><a href="/eggs.html"><i class="material-icons"><%= image_tag 'eggs_icon.png' %></i></a></li>
                <li><a href="/animals.html"><i class="material-icons"><%= image_tag 'inventory_icon.png' %></i></a></li>
                <li><a href="/incomes.html"><i class="material-icons"><%= image_tag 'income_icon.png' %></i></a></li>
                <li><a href="/expenses.html"><i class="material-icons"><%= image_tag 'expense_icon.png' %></i></a></li>
                <li><a href="/trends.html"><i class="material-icons"><%= image_tag 'trends_icon.png' %></i></a></li>
              </ul>

              <ul id="slide-out" class="side-nav">
                <li><a href="/eggs.html" data-activates="slide-out" class="button-collapse">Eggs</a></li>
                <li><a href="/animals.html" data-activates="slide-out" class="button-collapse">Flocks</a></li>
                <li><a href="/incomes.html" data-activates="slide-out" class="button-collapse">Income</a></li>
                <li><a href="/expenses.html" data-activates="slide-out" class="button-collapse">Expenses</a></li>
                <li><a href="/trends.html" data-activates="slide-out" class="button-collapse">Trends</a></li>
              </ul>

  </div>
</nav>
